/* *{
    border: 2px solid red;
} */
body{
font-family: 'Roboto', sans-serif;
margin: 0px;
display: flex;
flex-direction: column;
height: 100vh;
gap: 10px;

}

.header{
background-color: #1f2937;
display: flex;
flex-direction: column;
color: white;
flex: 1 1 auto;
/* flex-wrap: wrap; */
/* align-content: space-between */

}

.header-container{
    padding: 0px 260px;
}
ul,.sub-header-small,.sub-header-big{
    display: flex;
}

.sub-header-big,.sub-header-small{
    align-items: center;

}

ul{
    list-style-type: none;
    padding: 0px;
    gap: 10px;

}
li{
    /* margin: 10px; */
    /* gap: 10px; */
}
a{
    text-decoration: none;
    color: white;
}
.sub-header-small{
    justify-content: space-between;
    /* padding: 0px 15px; */
}

.sub-header-small .logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;


}
.sub-header-small ul li a{
    color: #c0c1bf;
    font-weight: 500;
    font-size: 20px;

    
    
}
.sub-header-big{
    justify-content: space-between;
    /* margin: 120px; */
    padding: 100px 0px;
    align-items: flex-start;
    gap: 50px;

}
.header-big-left{
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.header-big-left h1{
    font-weight: 900;
    color: #f9faf8;
    font-size: 48px;
    flex: 1 1 0%;
    margin: 0px;

}
.header-big-left p{
    /* font-weight: 900; */
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px;
    flex: 1 1 0%;

}

.header-big-left button{
    color: white;
    width: 120px;
    height: 38px;
    padding: 0px 0px;
    background-color: #3882f6;
    border: 3px solid #3882f6;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;

}
.header-big-image img{
    width: 580px;
    height: 200px;
    flex: 1 1 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #4e5259; */
    display: flex;
    flex-direction: column; 
}
.header-big-image p{
    height: 220px;
    flex: 1 1 auto;
    text-align: center;
    align-content: center;
}
.peer-body{
    background-color: #e5e7eb;
}
/* ---------------------------------------------------------------------------------------- */
.main-body {
    margin: 30px;
    flex: 1 1 auto;
    /* padding: 200px; */
}

.main-body .title {
    font-weight: 900;
    font-size: 36px;
    text-align: center;
}

.main-body .row{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 50px;
    /* border: 2px solid red; */
    /* padding: 100px; */
}
.main-body-panel{
    padding: 0px 250px;
}

.row-item{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 50px; */
    text-align: center;
    color: #565d5d;
    font-weight: 500; 
    font-size: 18px;
    
}

.row-item img{
    height: 210px;
    width: auto;
    border: 5px solid #3882f6;
    border-radius: 8%;
    flex: 0 0 auto;

}

/* ------------------------------------------------------------------------------------------- */

.peer-body em {
    color: #1f2937;
    font-size: 36px;
    font-weight: 100;
    /* flex: 0 1 100px; */

}
.peer-body p {
    font-weight: 700;
    font-size: 28px;
}
.inside-peer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
    margin: 110px 360px;

}
/* .inside-peer em {

}
.inside-peer p{
    jus
} */
.peer-body {
    /* text-align: justify;
     */
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    /* padding: 100px 300px; */
}

/* -------------------------------------------------------------------------------------- */

.peer2-body{
    padding:60px 180px;
    flex: 1 1 auto;

}
.blue-background{
    background-color: #3882f6;
    padding: 70px 140px;
    border-radius: 8px;

}
.inside-blue{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;

}

.inside-blue button{
    color: white;
    width: 120px;
    height: 38px;
    padding: 0px 0px;
    background-color: #3882f6;
    border: 3px solid white;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;


}

.call-to-action h1, .call-to-action p{
    margin:0px;
}



/* ---------------------------------------------------------------------------------------------- */
.footer{
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 25px;
    flex: 1 1 auto;

}



